.load-more {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.load-more__button {
  background: none;
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 6px;
  width: 320px;
  height: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.load-more__button:hover {
  filter: brightness(2);
  cursor: pointer;
}

@media screen and (max-width:400px) {
  .load-more__button {
    width: 240px;
  }
}