.profile {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 20px 0;
} 

.profile__title {
  text-align: center;
  margin: 0;
  justify-content: center;
}

.profile__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  min-width: -webkit-fill-available;
  padding-top: 120px;
  box-sizing: border-box;
}

.profile__form {
  min-width: inherit;
  display: grid;
  grid-template: 30px 30px/1fr 3fr;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__form-label {
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__form-input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding: 0;
  color: #FFFFFF;
  text-align: right;
}

.profile__form-input:focus {
  outline: none;
}

.profile__form-label_align {
  align-self: end;
  border: none;
}

.profile__form-button {
  width: fit-content;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.profile__form-button:disabled {
  color: #ffffff7e;
  cursor: initial;
}

.profile__form-button_white {
  color: #FFFFFF;
  margin-top: 220px;
}

.profile__form-button_pink {
  color: #EE3465;
  margin-top: 16px;
}

.error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 232px;
  }

  .profile__form-button_white {
    margin-top: 210px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding-top: 70px;
  }

  .profile__form-container {
    padding-top: 80px;
  }

  .profile__form-button_white {
    margin-top: 210px;
  }
}